@using AppCoreLite.Enums;

@model FileBrowserViewModel

@{
    ViewBag.Title = "File Browser";
}

<h1>@ViewBag.Title</h1>
<hr />
@if (Model != null)
{
    <div class="row">
        <div class="col-10">
            <h4>@Html.Raw(Model.Title)</h4>
        </div>
        @if (Model.FileType == FileTypes.Text)
        {
            <div class="col-2 text-end">
                <button id="clipboardbutton" class="btn btn-dark">Copy Content</button>
            </div>
        }
    </div>
    <hr />
    <div class="row">
        <div class="col-3 ps-0 border-end border-dark" style="height: 535px; overflow: auto;">
            @Html.Raw(Model.HierarchicalDirectoryLinks)
        </div>
        <div class="col-9">
            @if (Model.FileContent != null)
            {
                if (Model.FileType == FileTypes.Text)
                {
                    <pre>
                        <code id="clipboardcontainer" class="language-@Model.FileContentType" style="height: 514px; overflow: auto;cursor: text;">
                            @Model.FileContent
                        </code>
                    </pre>
                }
                else
                {
                    <img src="@Model.FileContent" class="img-fluid" />
                }
            }
            else
            {
                <ul class="navbar-nav hierarchicaldirectorycontents">
                    @if (Model.Contents != null)
                    {
                        @foreach (var content in Model.Contents)
                        {
                            <li style="padding: 5px;">
                                <a style="text-decoration: none;" class="text-dark" asp-action="Index" asp-route-path="@content.Folders">
                                    @if (content.IsFile)
                                    {
                                        @content.Name
                                    }
                                    else
                                    {
                                        <span class="badge bg-dark">@content.Name</span>
                                    }
                                </a>
                            </li>
                        }
                    }
                </ul>
            }
        </div>
    </div>
}

@section Scripts
{
    <link href="~/lib/highlight.js/styles/vs2015.min.css" rel="stylesheet" />
    <script src="~/lib/highlight.js/highlight.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Clipboard.js"></script>

    <script>
        $(function () {
            $("code").text($("code").text().trim());
            hljs.highlightAll();

            $("#clipboardbutton").click(function(){
                copyToClipboard("clipboardcontainer", "clipboardbutton", "Copied!");
            });

            $(".hierarchicaldirectories").animate({
                scrollTop: $(".currenthierarchicaldirectory").offset().top - 140
            }, "fast");

            $(".hierarchicaldirectorycontents").animate({
                scrollTop: 0
            }, "fast");
        });
    </script>
}